<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
      <!-- Favicon -->   
	<link href="../../resources/images/reserv/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../resources/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../../resources/css/owl.carousel.css"/>
    <link rel="stylesheet" href="../../resources/css/yunstyle.css"/>
    
    <style>
        body{
            background-image: url(../../resources/images/reserv/back_yj.jpg);
      
            background-size:cover;

        }
    
    </style>


</head>
<body>
     
	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a class="site-logo" href="index.html">
				<img src="../../resources/images/reserv/logo.png" alt="">
			</a>
			<div class="user-panel">
				<a href="#">Login</a>  /  <a href="#">Register</a>
			</div>
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!-- site menu -->
			<nav class="main-menu" >
				<ul>
					<li><a href="index.html">테마</a></li>
					<li><a href="review.html">지점소개</a></li>
					<li><a href="categories.html">게시판</a></li>
					<li><a href="community.html">예약하기</a></li>
					
				</ul>
			</nav>
		</div>
    </header>


    









    <div id="reservation" class="body">
        <section id="title_area">
            <div class="container">
                <h1 id="yj_title">예약 조회</h1>
                <h4 id="yj_title2">Reservation Check</h4>
                <div class="line"></div>
                <b style="color:red; margin-left: 250px;">예약취소 및 변경은 게임 24시간 이전에만 가능</b>하며, 그 이후에는 환불이 불가함을 유의하십시오.<br>
                     <p style=" margin-left: 250px;" >시작 최소 10분 전에 도착하는 것이 중요합니다.
                   <b style="color:red;">No show(불참)</b> 의 경우 환불은 되지 않습니다.
                </p> 
            
            
            </div>
        </section>
      
        <table style="width: 750px; height: 100px; margin-top: 20px; margin-left: 400px;  border:black; text-align: center; ">
            <tr tr style="border-top: 1px dashed #e6950c; background-color: rgba(221,221,221,0.5);">
                <th >예약번호</th>
                <td>예약내역</td>
                <td> 예약일</td>
                <td>진행상태</td>
                <td>예약취소</td>
            </tr>
            <tr style="border-top: 1px dashed gray; border-bottom: 1px dashed #e6950c;">
                <th>25789</th>
                <td>[18:10] 마법사의 세계</td>
                <td>2020/04/13</td>
                <td>입금완료</td>
                <td><button style="background-color:  #5b5b5b; color:white; border-radius: 13%;">예약취소</button></td>
            </tr>
        </table>
   



</body>
</html>