<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <!-- Favicon -->   
	<link href="../../resources/images/reserv/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../../resources/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../../resources/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../../resources/css/owl.carousel.css"/>
    <link rel="stylesheet" href="../../resources/css/yunstyle.css"/>
    
    <style>
        body{
            background-image: url(../../resources/images/reserv/back_yj.jpg);
      
            background-size:cover;

        }
       
       #cancel{
           border:1px solid #7d7d7d; 
            color: #fff; 
            background-color: #7d7d7d; 
            width:90px;
            height:38px;
            text-align: center;
            display: inline-block;
            padding-top: 5px;
           
        }

        #privacybtn{
            color:black;
            font-weight: 600;
        }

    </style>

</head>
<body>

    
	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<!-- logo -->
			<a class="site-logo" href="index.html">
				<img src="../../resources/images/reserv/logo.png" alt="">
			</a>
			<div class="user-panel">
				<a href="#">Login</a>  /  <a href="#">Register</a>
			</div>
			<!-- responsive -->
			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>
			<!-- site menu -->
			<nav class="main-menu">
				<ul>
					<li><a href="index.html">테마</a></li>
					<li><a href="review.html">지점소개</a></li>
					<li><a href="categories.html">게시판</a></li>
					<li><a href="community.html">예약하기</a></li>
				</ul>
			</nav>
		</div>
    </header>












    <div id="reservation" class="body">
        <section id="title_area">
            <div class="container">
                <h1 id="yj_title">예약하기</h1>
                <h4 id="yj_title2">Reservation</h4>
                <div class="line"></div>
            </div>
        </section>
    
        <section class="res_info_write">
            <div class="inner container">
            
            
                <div class="write_header" style="text-align: center;">
                    <h3>예약 정보 입력</h3>
                    <h5>셜록홈즈에서는 입장시간 24시간 이전에만 환불되며 그후에 예약취소, <br>미방문 시에는 예약금이 환불되지않습니다.</h5>
                    <p>( 입금 후 카카오톡, 게시판, 전화 등으로 지점별 입금확인 요청 부탁드립니다. )</p>
                </div>
                
                
    
                <form method="post" action="" name="reservationForm" id="reservationForm">
                <input type="hidden" name="Mode" value="Reservation">
                <input type="hidden" name="bno" value="27">
                <input type="hidden" name="tno" value="25">
                <input type="hidden" name="rdate" value="20200426">
                <input type="hidden" name="rtime" value="18:10">
                <input type="hidden" name="pay_type" id="pay_type" value="1">
                <input type="hidden" name="inwon" id="inwon" value="2">
                <input type="hidden" name="price" id="price" value="44000">
    
                <input type="hidden" name="bank_name" value="기업은행">
                <input type="hidden" name="bank_num" value="070-116795-01-014">
                <input type="hidden" name="bank_man" value="강남지점">
    
                
                    <table style="width: 750px; height: 720px; margin-left: 200px;">
                        
                            <tbody><tr style="border-top: 1px dashed #e6950c;">
                                <th style="background-color: rgba(221,221,221,0.5); text-align: center;">지점</th>
                                <td style="padding-left: 30px;">강남1호점(02-564-0052)</td>
                            </tr>
                            <tr style="border-top: 1px dashed gray">
                                <th style="background-color: rgba(221,221,221,0.5); text-align: center; ">예약일</th>
                                <td style="padding-left: 30px;">2020-04-26</td>
                            </tr>
                            <tr style="border-top: 1px dashed gray;"> 
                                <th style="background-color: rgba(221,221,221,0.5); text-align: center;">시간</th>
                                <td style="padding-left: 30px;">18:10</td>
                            </tr>
                            <tr style="border-top: 1px dashed gray;">
                                <th style="background-color: rgba(221,221,221,0.5); text-align: center;">테마명</th>
                                <td style="padding-left: 30px;">마법사의 세계</td>
                            </tr>
                            <tr style="border-top: 1px dashed gray;">
                                <th style="background-color: rgba(221,221,221,0.5); text-align: center;">예약자</th>
                                <td style="padding-left: 30px;"><input type="text" class="ipt gray" name="name" id="name"></td>
                            </tr>
                            <tr style="border-top: 1px dashed gray;">
                                <th style="background-color: rgba(221,221,221,0.5); text-align: center;">연락처</th>
                                <td style="padding-left: 30px;">
                                    <select class="gray" name="phone1" id="phone1" >
                                                                        <option value="010">010</option>
                                                                        <option value="011">011</option>
                                                                        <option value="016">016</option>
                                                                        <option value="017">017</option>
                                                                        <option value="018">018</option>
                                                                        <option value="019">019</option>
                                                                    </select>
                                    - <input type="text" class="ipt gray numField" name="phone2" id="phone2" style="width:48px;" maxlength="4">
                                    - <input type="text" class="ipt gray numField" name="phone3" id="phone3" style="width:48px;" maxlength="4">
                                </td>
                            </tr>
                            <tr style="border-top: 1px dashed gray;">
                                <th style="background-color: rgba(221,221,221,0.5); text-align: center;">인원</th>
                                <td style="padding-left: 30px;">
                                    <select class="gray" name="inwon_" id="inwon_">
                                                                                                                <option value="2::44000">2명</option>
                                                                                <option value="3::60000">3명</option>
                                                                                <option value="4::72000">4명</option>
                                                                                <option value="5::90000">5명</option>
                                                                                <option value="6::108000">6명</option>
                                                                                                        </select>
                                </td>
                            </tr>
                            <tr style="border-top: 1px dashed gray;">
                                <th style="background-color: rgba(221,221,221,0.5); text-align: center;">가격</th>
                                <td style="padding-left: 30px;">
                                    <span id="vprice">44,000원</span>
                                    <span id="dc_str" style="display:none;">			                </span></td>
                            </tr>
                            <tr style="border-top: 1px dashed gray;">
                                <th style="background-color: rgba(221,221,221,0.5); text-align: center;">예약방식</th>
                                <td style="padding-left: 30px;">
                                    <div class="ipt_group">
                                    
                                        <!-- 이벤트 콜라보 제외 -->
                                                                        
                                         <input name="group1" type="radio" class="pay_type" value="1" id="pay_type_1" checked="checked">
                                          <label for="pay_type_1">현장결제</label>
                                          <input name="group1" type="radio" class="pay_type" value="2" id="pay_type_2">
                                          <label for="pay_type_2">무통장결제</label>
                                                                             <input name="group1" type="radio" class="pay_type" value="3" id="pay_type_3">
                                          <label for="pay_type_3">쿠폰결제(평일 16시이전 가능)</label>
                                                                            
                                                                            
                                        <!-- 기묘한 팝업 스토어 처리 -->
                                        
                                                                            
                                        <!-- 현대 콜라보 처리 -->
                                        
                                                                            
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-top: 1px dashed gray;">
                                <th style="background-color: rgba(221,221,221,0.5); text-align: center;">무통장계좌안내</th>
                                <td style="padding-left: 30px;">신한은행 020-111595-80-017 강남지점</td>
                            </tr>
                            <tr style="border-top: 1px dashed gray; border-bottom:1px darkorange;">
                                <th style="background-color: rgba(221,221,221,0.5); text-align: center;">문의사항</th>
                                <td style="padding-left: 30px;">
                                    <textarea name="memo" id="memo" class="ipt gray" rows="6" style="width: 520px; height: 100px;"></textarea>
                                </td>
                            </tr>
                        
                    </tbody></table>
                    
                    <div class="checktd" style="width: 750px; height: 50px; background-color: #e6950c;  text-align: right; color: #fff;  margin-left: 200px;">
                            <div class="fr" style="display: inline-block; margin-right: 100px;">
                                 <a id="privacybtn" href="#" id="sitemapFirst">개인정보취급방침</a>
                             </div>
                        <input type="checkbox" name="agree" id="agree" class="right" value="1"  >
                        <label for="agree">개인정보취급방침에 동의함</label>
                    </div>
                </div>
                <div class="btn_group center" style="text-align: center;">
                    <button type="submit" class="btn gray" style="color:#fff; background-color: #5b5b5b; border-radius: 0px; margin-top: 1px;">예약하기</button>
                    <a  href="javascript:void(0);" id="cancel"  onclick="window.history.back();">취소</a>
                </div>
                </form>
            </div>
        </section>
    
   
            