<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin</title>

    <!-- Custom fonts for this template-->
    <link href="../../../resources/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../../resources/admin/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../../../resources/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
      
    </style>
</head>

<body>

    <br><br>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">테마 수정</h1>
    </div>
<hr>
    <div id="content-wrapper" class="d-flex flex-column"  align="center">
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- 인풋요소 시작 -->
                <form class="form-group" action="" method="">
                    <table>
                        <tr>
                            <th width="100px">테마명</th>
                            <td width="250px"><input type="text" class="form-control" name=""></td>
                            <th width="400px">테마줄거리(내용)</th>
                        </tr>
                        <tr>
                            <th width="100px">사진</th>
                            <td width="250px"><input type="file" class="form-control" name=""></td>
                            <td width="400px" rowspan="6"><textarea rows="10" cols="50"></textarea></td>
                        </tr>
                        <tr>
                            <th width="100px">지점</th>
                            <td width="250px"><button class="btn btn-primary btn-sm">선택하기</button></td>
                        </tr>
                        <tr>
                            <th width="100px">장르별</th>
                            <td width="250px">
                                <select class="form-control" name="">
                                    <option value="">공포</option>
                                    <option value="">로맨스</option>
                                    <option value="">판타지</option>
                                    <option value="">드라마</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th width="100px">난이도</th>
                            <td width="250px">
                                <select class="form-control" name="">
                                    <option value="">★☆☆☆☆</option>
                                    <option value="">★★☆☆☆</option>
                                    <option value="">★★★☆☆</option>
                                    <option value="">★★★★☆</option>
                                    <option value="">★★★★★</option>
                                </select>
                        </tr>
                        <tr>
                            <th width="100px">공포도</th>
                            <td width="250px">
                                <select class="form-control" name="">
                                    <option value="">★☆☆☆☆</option>
                                    <option value="">★★☆☆☆</option>
                                    <option value="">★★★☆☆</option>
                                    <option value="">★★★★☆</option>
                                    <option value="">★★★★★</option>
                                </select>
                        </tr>
                        <tr>
                            <th width="100px">추천인원</th>
                            <td width="250px">
                                <select class="form-control" name="">
                                    <option value="">1~2인</option>
                                    <option value="">2~3인</option>
                                    <option value="">3~4인</option>
                                    <option value="">4인이상</option>
                                </select>
                        </tr>

                    </table>
                    <div >
                        <br>
                        <button class="btn btn-info btn-sm">수정</button>
                    </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
    </div>





    <!-- Bootstrap core JavaScript-->
    <script src="../../../resources/admin/vendor/jquery/jquery.min.js"></script>
    <script src="../../../resources/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../../resources/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../../resources/admin/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../../../resources/admin/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../../../resources/admin/js/demo/chart-area-demo.js"></script>
    <script src="../../../resources/admin/js/demo/chart-pie-demo.js"></script>
</body>

</html>